html,
body,
#app {
  min-width: 1280px;
  font-size: 14px;
  font-family: pingfang SC, helvetica neue, arial, hiragino sans gb, microsoft yahei ui, microsoft yahei, simsun,
    sans-serif !important;
}

.main-content {
  padding: 17px 17px 0;
  width: 100%;
  transition: 0.3s all ease-in-out;
  background: #f2f3f5;
  .el-main,
  .el-footer {
    padding: 0;
  }
}
