.fe-layout,
.fe-layout-collapse {
  min-height: 100%;
}
// 右侧主要内容
.main-content {
  padding: 17px 20px 0 217px;
  width: 100%;
  transition: 0.3s all ease-in-out;
  .el-main,
  .el-footer {
    padding: 0;
  }
}
