.el-aside-menu {
  overflow: hidden;
}
.el-aside {
  width: 220px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  border-right: none;
}
.fe-layout-collapse {
  .el-aside {
    margin-left: -220px !important;
  }
  .el-menu--collapse {
    margin-left: 0;
  }
}
.fe-aside {
  border-right: none;
  position: sticky;
  height: calc(100vh - 60px);
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  width: 220px;
  z-index: 9;
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .el-menu-item:focus {
    background-color: transparent !important;
  }
  .item {
    position: relative;
    height: 97px;
    padding: 25px 0;
    text-align: center;
    font-size: 14px;
    color: #7f8490;
    .tit {
      display: block;
      line-height: 20px;
    }
  }
  .hide {
    display: none;
  }
  .item-children,
  .el-submenu {
    position: relative;
    line-height: 46px;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    &::after {
      content: '\20';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: solid 1px rgba(245, 245, 249, 1);
    }
  }

  .icon {
    width: 16px;
    height: 16px;
    margin: 11px 6px 0 0;
    vertical-align: top;
    display: inline-block;
  }
  .el-menu {
    border-left: none;
    transition: 0.3s all ease-in-out;
  }
  .el-menu-item {
    border: none;
    position: relative;
    height: 38px !important;
    line-height: 38px !important;
  }
  .el-menu-item::before {
    content: '\20';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    border-bottom: solid 1px #f3f3f3;
    border-radius: 0px 4px 4px 0px;
    background: #fff;
    height: 100%;
    transition: 0.3s;
  }

  .el-submenu.is-active {
    position: relative;
    border-left: solid 3px $-aside-menu-color;
  }
  .el-submenu.is-opened.is-active {
    border-left: none;
  }
  .el-menu-item.is-active,
  .item-children:hover {
    color: $-aside-menu-color;
    background: $-aside-menu-bgcolor;
    border-color: $-aside-menu-color;
    &::before {
      background-color: $-aside-menu-color;
    }
  }
}

.menu-tit {
  font-weight: 600;
  height: 46px;
  line-height: 46px;
  position: relative;
  margin: 0 20px;
  overflow: hidden;
  color: #333;
  font-size: 15px;
  transition: 0.3s all ease-in-out;
}
.el-menu .hide {
  display: none;
}
.el-aside-menu {
  position: sticky;
  top: 60px;
  height: 100%;
  z-index: 9;
  width: 220px;
}

.fe-aside {
  .el-submenu__title {
    position: relative;
    line-height: 38px;
    height: 38px;
    padding: 0 10px !important;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    &::after {
      content: '\20';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  .el-submenu__title:hover,
  .is-active > .el-submenu__title {
    color: $-aside-menu-color;
    background-color: transparent;
    i {
      color: $-aside-menu-color;
    }
  }
}
.el-menu--popup {
  .item-children {
    height: 46px;
    line-height: 46px;
  }
  .item-children:hover,
  .item-children:focus {
    color: $-aside-menu-color;
    background: #fcfdff;
  }
}
.mlink {
  text-decoration: none;
  color: #666;
}
