.fe-breadcrumb {
  line-height: 22px;
  .el-breadcrumb {
    display: flex;
  }
  .el-breadcrumb__inner.is-link {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.45);
  }
  .tit {
    padding-left: 16px;
    flex: 1;
    font-size: 16px;
  }
}
