$-aside-menu-color: #1890ff;
$-aside-menu-tit-line: #b8bed1;

$_header: (
  background-color: #001529,
  height: 48px,
  line-heigth: 48px,
  logo-width: 200px,
  logo-icon-width: 36px,
  logo-icon-height: 36px,
  logo-icon-margin: 0 8px 0 0,
  logo-color: #fff,
);

$_menu: (
  color: #34378b,
  line: #b8bed1,
);

$_footer: (
  color: #ccc,
);
