$-aside-menu-color: #0f88ed;
$-aside-menu-bgcolor: #3088d20d;

$_header: (
  background-color: #fff,
  height: 60px,
  line-heigth: 60px,
  logo-width: 200px,
  logo-icon-width: 36px,
  logo-icon-height: 36px,
  logo-icon-margin: 0 8px 0 0,
  logo-color: #fff,
);

$_menu: (
  color: #0f88ed,
  line: #b8bed1,
);

$_footer: (
  color: rgba(175, 81, 81, 0.45),
);
